################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/00.MvcApp.Core/bin/Debug
